
body{
    background-color: #DAD4CF !important;
    /* font-family: "Didact Gothic", sans-serif !important; */
}
.text-fs{
    font-size:16px
}
.heading-fs{
    font-size: 18px;
    font-weight: 600;
}
.header .navbar {
    height: 100px;
}

.header .navbar-nav .nav-item .nav-link{
    padding: 1rem;
}
.header .navbar-nav .nav-item .nav-link a{
    font-weight: 500;
}
.header-container{
    z-index: 100;
    position: fixed;
}
.header-container .navbar-collapse{
    flex-grow: unset !important;
}
.intro-screen{
    margin-top: 100px;
}
.pack-details{
    margin-top: 100px;
    padding: 1rem;
}

.slide-image {
    height: calc(100vh - 100px);
}
.destinations .card{
    width: 20rem;
}
.destinations .card .card-img-top:hover{
    cursor: pointer;
}
.destinations .card .card-body .card-text{
    height: 13vh;
}

.trending{
    font-size: 1.25rem;
    font-weight: 500;
}

.navbar-brand img{ 
    width: 250px;
    height: 90px;
}

.country-container {
    margin: auto;
    padding-top: 30px;
}

.tas-button {
    background-color: #BB436A !important;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border-color: #BB436A !important;
}

.cursor-pointer{
    cursor: pointer;
}
.itinerary-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.form-group{
    width: 50%;
    padding-right: 1rem;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    align-items: center;
}
.admin-login .form-group{
    width: 100%;
    padding-right: 0rem;
}

.theme-text-color{
    color:#BB436A !important;
    font-weight: 600 !important;
}
.tabs .active{
    font-weight:600 !important;
    color:white !important;
    background-color: #BB436A !important;
}
.booking-details .tab-content{
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.itinerary-card .card{
    width: 20rem;
}

.header-container .active{
    color: #BB436A !important;
    text-decoration: underline;
}

.header-container .nav-link:hover{
    color: #BB436A;
}

.modal-bg {
    background-color: #BB436A;
    color:white;
}

.modal-body label{
    font-weight: bold;
}
.modal {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
@media (min-width:1025px) and (min-height:701px) and (max-height:900px){
    .destinations .card .card-body .card-text{
        height: 17vh;
    }
    .booking-details .tab-content {
        height: 55vh;
        overflow-y: auto;
    }
}
@media (min-width:1025px) and (min-height:501px) and (max-height:700px){
    .destinations .card .card-body .card-text{
        height: unset;
    }
    .booking-details .tab-content {
        height: 55vh;
        overflow-y: auto;
    }
}

@media (min-width: 1401px) and (max-width: 1800px) {
    .modal-title {
        font-size: 18px;
    }
    .modal-footer {
        padding: 8px !important;
    }

    .header .navbar {
        height: 70px;
    }
    .header .navbar-nav .nav-item .nav-link {
        padding: 1rem;
        font-size: 14px;
    }
    .navbar-brand img {
        width: 150px;
        height: 60px;
    }
    
    .intro-screen, .pack-details {
        margin-top: 70px;
    }
    .slide-image {
        height: calc(100vh - 70px);
    }

    .destination-container .card-title,
    .heading-fs,
    .itinerary-card h4 {
        font-size: 18px;
    }
    .destination-container .card-text,
    .text-fs,
    .tas-button,
    .itinerary-card p,
    .modal-body label,
    .modal-body input,
    .close-btn,
    .edit-button .fa-edit,
    table td, table th {
        font-size: 16px !important;
    }
    
    /* Cards & Layout */
    .destinations .card,
    .itinerary-card .card {
        width: 15rem;
    }
    .itinerary-card {
        padding: 10px;
    }
    .pack-details {
        padding: 0.75rem;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .modal-title {
        font-size: 16px;
    }
    .modal-body label, 
    .modal-body input, 
    .itinerary-card p,
    .text-fs, 
    .tas-button, 
    .close-btn, 
    .edit-button .fa-edit, 
    table td, 
    table th {
        font-size: 14px !important;
    }

    .header .navbar {
        height: 70px;
    }
    .header .navbar-nav .nav-item .nav-link {
        padding: 1rem;
        font-size: 14px;
    }
    .navbar-brand img {
        width: 150px;
        height: 60px;
    }
    
    .intro-screen, 
    .pack-details {
        margin-top: 70px;
    }
    .slide-image {
        height: calc(100vh - 70px);
    }

    .destination-container .card-title,
    .heading-fs,
    .itinerary-card h4 {
        font-size: 16px;
    }
    .destination-container .card-text {
        font-size: 14px;
    }

    .destinations .card {
        width: 15vw;
    }
    .itinerary-card .card {
        width: 15rem;
    }
    .itinerary-card {
        padding: 10px;
    }
    .pack-details {
        padding: 0.75rem;
    }
}

@media (max-width:1024px){ 
    .destinations{
        flex-wrap: wrap;
    }
    .book-now{
        --bs-modal-width: 90vw !important;
    }
    .edit-booking-modal{
        --bs-modal-width: 90vw !important;
    }

    .home-page .pack-details{
        width: 90% !important;
    }
    .table-container{
        width: 100%;
        overflow: auto;
    }
    .destinations .card .card-body .card-text {
        height:unset;
    }
    .destination-container{
        padding: 1rem !important;
    }
    .header-tab{
        display:flex;
        justify-content: space-between;
    }
    .heaader-links{
        flex-direction: column !important;
    }
    .form-group {
        width: 100% !important;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .destinations .card {
        width: 40%;
    }
    .destination-container .card-title,
    .itinerary-card h4,
    .close-btn {
        font-size: 14px;
    }
    .destination-container .card-text,
    .text-fs,
    .tas-button,
    .itinerary-card p,
    .modal-body label,
    .modal-body input,
    .edit-button .fa-edit,
    table td, table th {
        font-size: 12px !important;
    }

    .header .navbar-nav .nav-item .nav-link {
        padding: 0.5rem;
        font-size: 12px;
    }

    .modal-title {
        font-size: 16px;
    }

    .itinerary-card {
        padding: 12px;
    }
}

@media (max-width: 600px) {
    .destinations .card {
        width: 100%;
    }

    .header-container .navbar {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .navbar-brand img { 
        width: 45vw;
    }
    .header .navbar-nav .nav-item .nav-link {
        padding: 0.5rem;
        font-size: 10px;
    }

    .destination-container .card-title,
    .itinerary-card h4 {
        font-size: 12px;
    }
    .destination-container .card-text,
    .text-fs,
    .tas-button,
    .itinerary-card p,
    .modal-body label,
    .modal-body input,
    .close-btn,
    .edit-button .fa-edit,
    table td, table th {
        font-size: 10px !important;
    }

    .modal-title {
        font-size: 14px;
    }

    .itinerary-card {
        padding: 10px;
    }
}

@media (max-width:992px) {
    .header-logo{
        width: 100%;
    }
    .header-links{
        margin-top: 20px;
        width: 100%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .header .navbar-nav{
        flex-direction: column !important;
        padding-bottom: 1rem;
    }
    .header .navbar-nav .nav-item{
        width: 100% !important;
        text-align: center;
    }
    .header .navbar-nav li:hover{
        background-color: #bb43692c;
    }
    .navbar-brand img {
        height: 70px;
    }
}

